.detailPage {
  max-width: 100%;

  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  &__backButton {
    background: none;
    border: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  &__field {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: #444;
  }

  &__detailsGrid {
    display: grid;
    row-gap: 1rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
  }

  &__label {
    font-weight: bold;
    color: #444;
  }

  &__value {
    color: #222;
  }
}
